@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    background-color: hwb(0 89% 11%);
}
main{
    background-color: white;  
    border-radius: 10px;
    width: 70%;
    height: 750px;
    margin-left: 260px;
    margin-top: 100px;
    
    border: 2px solid white;   
}

.list{
    background-image: url(./img/bg-sidebar-desktop\ \(1\).svg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid rgb(16, 13, 13); 
    height: 700px;
    margin: 20px;
    
}

.none{
   color: white;
   list-style-type: none;
   line-height: 20px; 
   font-size: 15px;
   font-family: 'Lato', sans-serif;
   margin-left: 30px;
}

